.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #273043;
  color: #EFF6EE;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);

  justify-content: space-around;
  align-content: stretch;

}

.logo-img {
  max-height: 55px;
  max-width: 55px;
}

.decision-score {
  font-weight: bold;
}

.grid-item-1 {
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px #9197AE;
}

.grid-item-2 {
  grid-column: 1 / -1;
  grid-row: 2;
}

.grid-item-3 {
  grid-column: 1 / 2;
  grid-row: 3;
  border: 15px solid green;
  align-items: center;
  justify-content: center;
}

.grid-item-4 {
  grid-column: 2 / 4;
  grid-row: 3;
}

.grid-item-5 {
  grid-column: 1 / 4;
  grid-row: 4;
}

.App-link {
  color: #D4FCC3;
}

.theater-img {
  max-height: 500px;
  max-width: 485px;
}

.decision-img {
  max-height: 400px;
  max-width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
